@CHARSET "UTF-8"; * {
    margin: 0;
    padding: 0;
}

a {
    text-shadow: 1px 1px 1px #FFF;
    color: #2f2f2f;
    text-decoration: none;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-image: url(../img/bg.png);
    font-family: sans-serif;
    text-shadow: 0px 0px 1px #aaa;
    font-size: x-small;
    color: #4c4c4c;
    text-align: left;
    font: 1.2em Arial, sans-serif;
    min-width: 760px;
}

table.lista {
    border: 0px;
    width: 780px;
    height: 100%;
}

iframe.frame {
    position: absolute;
    top: 36px;
    right: 0px;
    width: 550px;
    height: 510px;
    border: 0;
    overflow: hidden;
    overflow-y: auto;
	}

div.ruta {
    border: 0px;
    margin: 0 auto;
    background-color: #dedede;
    border-bottom: 1px solid;
    border-color: #5c5c5c;
    text-shadow: 1px 1px 1px #FFF;
    color: #2f2f2f;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    -moz-box-shadow: 0px 0px 15px #000;
    -o-box-shadow: 0px 0px 15px #000;
    -icab-box-shadow: 0px 0px 15px #000;
    -khtml-box-shadow: 0px 0px 15px #000;
    -webkit-box-shadow: 00px 0px 15px #000;
}

div.rutaInfo {
    position: absolute;
    right: 5px;
    top: 5px;
    text-shadow: 1px 1px 1px #FFF;
    color: #2f2f2f;
}

div.categoriaProductos {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 160px;
    border: 1px solid;
    border-color: #5c5c5c;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    background-color: #dedede;
    padding: 10px;
    -moz-box-shadow: 0px 5px 15px #000;
    -o-box-shadow: 0px 5px 15px #000;
    -icab-box-shadow: 0px 5px 15px #000;
    -khtml-box-shadow: 0px 5px 15px #000;
    -webkit-box-shadow: 0px 5px 15px #000;
}

div.informacion {
    width: 500px;
    text-align: center;
}

div.fabricantes {
    position: relative;
    top: 20px;
    left: 10px;
    width: 150px;
    border: 1px solid;
    border-color: #5c5c5c;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    background-color: #a8d6fe;
    padding: 10px;
    -moz-box-shadow: 0px 5px 15px #000;
    -o-box-shadow: 0px 5px 15px #000;
    -icab-box-shadow: 0px 5px 15px #000;
    -khtml-box-shadow: 0px 5px 15px #000;
    -webkit-box-shadow: 0px 5px 15px #000;
}

div.productos {
    position: relative;
    top: 40px;
    left: 10px;
    width: 150px;
    border: 1px solid;
    border-color: #5c5c5c;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    background-color: #a8d6fe;
    padding: 10px;
    -moz-box-shadow: 0px 5px 15px #000;
    -o-box-shadow: 0px 5px 15px #000;
    -icab-box-shadow: 0px 5px 15px #000;
    -khtml-box-shadow: 0px 5px 15px #000;
    -webkit-box-shadow: 0px 5px 15px #000;
}

div.datosProducto {
    position: absolute;
    top: 20px;
    left: 210px;
    width: 290px;
    border: 1px solid;
    border-color: #5c5c5c;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    background-color: #ededed;
    padding: 10px;
    -moz-box-shadow: 0px 5px 15px #000;
    -o-box-shadow: 0px 5px 15px #000;
    -icab-box-shadow: 0px 5px 15px #000;
    -khtml-box-shadow: 0px 5px 15px #000;
    -webkit-box-shadow: 0px 5px 15px #000;
    overflow: hidden;
    
}

div.logoFabricante {
    margin: 10px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    width: 80px;
    height: 40px;
}

div.solinfo {
    margin-top: 10px;
}

input[type='text']{
	border: 1px solid;
	border-color:#b8b8b8;
	    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -icab-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 70px;
}
div.alertaOferta{
	position:absolute;
	top:-5px;
	right:0px;
	width: 75px;
	height: 75px;
	z-index: 3;
	background-image: url(../img/oferta.png);	
}
input[type='submit']{
	margin-top: 10px;
		border: 1px solid;
	border-color:#b8b8b8;
	    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -icab-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #b8b8b8;
}