@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	margin: 0 auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
		sans-serif;
	text-shadow: 0px 0px 1px #aaa;
	font-size: x-small;
	color: #4c4c4c;
	font-size: x-small;
}

html {
	height: 100%;
	font-size: 62.5%;
}

span.boton {
	padding-left: 20px;
	padding-right: 20px;
	border-bottom-color: #4c4c4c;
	text-shadow: 1px 1px 1px #FFF;
	color: #2f2f2f;
	text-decoration: none;
	cursor: pointer;
}

span.botoni {
	padding-left: 20px;
	padding-right: 20px;
	border-bottom-color: #4c4c4c;
	text-shadow: 1px 1px 1px #FFF;
	color: #FFF;
	text-decoration: none;
	background-color: #696969;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-moz-border-radius: 8px;
	border: 1px solid;
	border-color: #b3b3b3;
	cursor: pointer;
}

table {
	width: 100%;
	background-color: #f1f1f1;
}

tr.over {
	background-color: #e5e5e5;
	cursor: pointer;
}

tr.out {
	background-color: transparent;
	cursor: pointer;
}

tr.outcsinleer {
	background-color: #d8d8d8;
	cursor: pointer;
}

td {
	border-right: 1px solid;
	border-right-color: #dedbdb;
	border-bottom: 1px solid;
	border-bottom-color: #dedbdb;
	padding: 10px;
}

div.imagenfab {
	border: 1px solid;
	border-color: #dedbdb;
	max-width: 80px;
	max-height: 40px;
}

div.imagenpro {
	border: 1px solid;
	border-color: #dedbdb;
	max-width: 70px;
	max-height: 70px;
}

div.menu {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 4;
	background-color: #d0d0d0;
	border-bottom: 1px solid;
	border-bottom-color: #4c4c4c;
	height: 20px;
	padding-top: 5px;
}

div.panelHeramientas {
	position: fixed;
	width: 100%;
	z-index: 3;
	top: 25px;
	background-color: #575757;
	border-bottom: 1px solid;
	border-bottom-color: #4c4c4c;
	height: 20px;
	padding-top: 5px;
	padding-left: 10px;
}

div.header {
	font-weight: bolder;
}

div.data {
	opacity: 50%;
}

div.eliminar {
	position: fixed;
	z-index: 5;
	top: 50px;
	right: 50px;
	border: 1px solid;
	border-color: #dedbdb;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #868686;
	max-height: 200px;
	max-width: 300px;
	display: none;
	text-align: center;
	padding: 20px;
	-moz-box-shadow: 0px 5px 30px #000;
	-o-box-shadow: 0px 5px 30px #000;
	-icab-box-shadow: 0px 5px 30px #000;
	-khtml-box-shadow: 0px 5px 30px #000;
	-webkit-box-shadow: 0px 5px 30px #000;
}

div.textEliminar {
	text-shadow: 1px 1px 1px #FFF;
	color: #FFF;
	text-decoration: none;
	padding-bottom: 10px;
}

div.formularioAlta {
	position: fixed;
	z-index: 3;
	top: 50px;
	right: 50px;
	border: 1px solid;
	border-color: #dedbdb;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #868686;
	height: auto;
	max-width: 300px;
	display: none;
	text-align: right;
	padding: 20px;
	-moz-box-shadow: 0px 5px 30px #000;
	-o-box-shadow: 0px 5px 30px #000;
	-icab-box-shadow: 0px 5px 30px #000;
	-khtml-box-shadow: 0px 5px 30px #000;
	-webkit-box-shadow: 0px 5px 30px #000;
}

div.textFormAlta {
	text-shadow: 1px 1px 1px #FFF;
	color: #FFF;
	text-decoration: none;
}

#contenedorApp {
	margin-top: 50px;
}

div.contenedor {
	position: absolute;
	top: 25px;
	width: 100%;
	border: 0px;
	background-image: url(../img/correobg.png);
	background-repeat: repeat-y;
	min-height: 100%;
}

table.contenedorCorreo {
	border: 0px;
	background-color: transparent;
}

td.menuCorreo {
	border: 0px;
	min-width: 161px;
}

div.correoMenuBoton {
	position: absolute;
	min-width: 176px;
	border-bottom: 1px solid;
	border-bottom-color: #4c4c4c;
	cursor: pointer;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #8c8c8c;
	text-shadow: 1px 1px 1px #FFF;
	color: #FFF;
	background-color: #8c8c8c;
}

div.correoMenuBotoni {
	position: absolute;
	min-width: 176px;
	border-bottom: 1px solid;
	border-bottom-color: #4c4c4c;
	cursor: pointer;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #535353;
	text-shadow: 1px 1px 1px #FFF;
	color: #FFF;
}

td.listaCorreo {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: auto;
}

div.herramienta {
	cursor: pointer;
	text-shadow: 1px 1px 1px #FFF;
	color: #FFF;
	text-decoration: none;
}

input[type='file'] {
	border: 1px solid;
	border-color: #b8b8b8;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-icab-border-radius: 4px;
	-moz-border-radius: 4px;
}

input[type='text'] {
	border: 1px solid;
	border-color: #b8b8b8;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-icab-border-radius: 4px;
	-moz-border-radius: 4px;
}
input[type='password'] {
	border: 1px solid;
	border-color: #b8b8b8;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-icab-border-radius: 4px;
	-moz-border-radius: 4px;
}

div.login {
	margin-top: 50px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-moz-border-radius: 8px;
	max-height: 200px;
	max-width: 300px;
	text-align: right;
	padding: 20px;
	-moz-box-shadow: 0px 5px 30px #000;
	-o-box-shadow: 0px 5px 30px #000;
	-icab-box-shadow: 0px 5px 30px #000;
	-khtml-box-shadow: 0px 5px 30px #000;
	-webkit-box-shadow: 0px 5px 30px #000;
	background-color: #d0d0d0;
	border: 1px solid;
	border-color: #000;
}

div.text {
	text-shadow: 1px 1px 1px #FFF;
	color: #2f2f2f;
	text-decoration: none;
}

div.loading {
	position: relative;
	top: 100px;
	text-align: center;
}

div.pieCorreo {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 10px;
	background-color: #535353;
}
div.contenedorMenuCorreo{
	position:fixed;
	left:0px;
	top:25px;
}
div.zonaCargaMail {
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url(../img/bgcorreo.png);
	display: none;
}

div.bordeCargaMail {
	position:relative;
	top: 150px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #535353;
	margin-bottom: 100px;
	max-width: 400px;
	min-height: 300px;
	min-width: 300px;
	-moz-box-shadow: 0px 5px 30px #000;
	-o-box-shadow: 0px 5px 30px #000;
	-icab-box-shadow: 0px 5px 30px #000;
	-khtml-box-shadow: 0px 5px 30px #000;
	-webkit-box-shadow: 0px 5px 30px #000;
}

div.CargaMail {
	position: relative;
	top: 5px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #e5e5e5;
	margin-bottom: 100px;
	max-width: 390px;
	min-height: 290px;
	min-width: 390px;
	overflow: hidden;
}

div.CargaMailData {
	position: relative;
	top: 0px;
	min-height: 30px;
	width: 100%;
	border-bottom: 1px solid;
	border-bottom-color: #000;
	padding-top: 15px;
	text-align: left;
	text-shadow: 1px 1px 1px #FFF;
	color: #2f2f2f;
	padding-left: 15px;
	background-image: url(../img/datacorreobg.png);
}

div.CargaMailContenido {
	position: relative;
	max-width: 370px;
	height: 190px;
	min-height: 190px;
	min-width: 370px;
	background-color: #fff;

	text-align: left;
	text-shadow: 1px 1px 1px #b4b4b4;
	color: #000;
	padding: 10px;
	overflow: auto;
}
div.CargaMailBotones {
	position: relative;
	max-width: 390px;
	height: 35px;
	min-height: 35px;
	min-width: 390px;
	background-color: #fff;
	-khtml-border-radius: 0px 0px 8px 8px  ;
	-webkit-border-radius: 0px 0px 8px 8px ;
	-o-border-radius:0px 0px 8px 8px;
	-icab-border-radius: 0px 0px 8px 8px ;
	-moz-border-radius: 0px 0px 8px 8px ;
	text-align: right;
	overflow: hidden;
}
span.CargaMailBoton{
	position:relative;
	top: 8px;
	border: 1px solid;
	border-color: #000;
	background-image: url(../img/botoncorreobg.png);
	background-repeat: repeat-x;
	height: 25px;
	text-shadow: 1px 1px 1px #FFF;
	color: #2f2f2f;
	margin-right: 10px;
	cursor: pointer;	
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;

}
