@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	background-image: url(../img/bg.png);
	font-family: sans-serif;
	text-shadow: 0px 0px 1px #aaa;
	font-size: x-small;
	color: #4c4c4c;
	text-align: center;
	font: 1.2em Arial, sans-serif;
	min-width: 760px;
}

div.main {
	position: relative;
	top: -30px;
	margin: 0 auto;
	width: 780px;
	border: 1px solid;
	border-color: #473600;
	padding: 0;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #fff;
	-moz-box-shadow: 0px 5px 30px #000;
	-o-box-shadow: 0px 5px 30px #000;
	-icab-box-shadow: 0px 5px 30px #000;
	-khtml-box-shadow: 0px 5px 30px #000;
	-webkit-box-shadow: 0px 5px 30px #000;
	overflow: hidden;
}

div.ban {
	top: 0px;
	min-width: 780px;
	min-height: 100px;
	background-color: #473600;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-moz-border-radius: 8px;
}

div.pie {
	position: relative;
	bottom: 0px;
	min-width: 780px;
}

div.rightframe {
	position: absolute;
	top: 120px;
	left: 580px;
	width: 180px;
	height: 400px;
	background-image: url(../img/rbg.png);
	color: #FFF;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-moz-border-radius: 8px;
	border: 1px solid;
	border-color: #473600;
}

div.rfcontenido {
	margin: 15px;
}

div.contenedorEntadas {
	left: 0px;
	top: 100px;
	text-align: left;
}

div.contEntrada {
	position: relative;
	top: 0px;
	width: 770px;
}

div.titulo {
	font-size: medium;
	margin: 10px;
	font-weight: bolder;
}

div.tituloOfertas {
	margin: 0 auto;
	font-size: small;
	text-shadow: 1px 1px 1px #FFF;
	color: #2f2f2f;
	text-decoration: none;
	background-color: #dddddd;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top: 1px solid;
	border-top-color: #292929;
}

div.contenido {
	font-size: small;
	margin: 10px;
}

div.pie {
	font-size: x-small;
	margin: 10px;
}

div.menu {
	background-color: #4c4c4c;
	top: 100px;
	min-width: 780px;
	height: 20px;
	text-align: left;
}

span.boton {
	margin: 0 4 0 4;
	color: #d2d2d2;
	text-shadow: 0px 0px 2px #FFF;
	cursor: pointer;
}

span.botoni {
	background-image: url(../img/botonbg.png);
	margin: 0 4 0 4;
	color: #d2d2d2;
	text-shadow: 0px 0px 2px #FFF;
	cursor: pointer;
}

#contenedorPrincipal {
	width: 780px;
	min-height: 100px;
	text-align: left;
}

div.img {
	border: 0;
	border-color: #4c4c4c;
}

div.piepa {
	text-shadow: 1px 1px 1px #FFF;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	top: -60px;
	text-align: center;
	padding: 3px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
}

div.piep {
	text-shadow: 1px 1px 1px #FFF;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	top: -30px;
	text-align: center;
	padding: 3px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
}

div.contendorFotos {
	padding: 25px;
}

.foto {
	border: 1px solid;
	border-color: #5dadff;
	margin: 5px;
	margin-left: 15px;
}

iframe.mainframe {
	width: 100%;
	height: 550px;
	border: 0;
	overflow: hidden;
}

div.reflejo {
	margin: 0 auto;
	width: 840px;
	height: 80px;
}

div.contacto {
	margin: 0 auto;
	width: 290px;
	border: 1px solid;
	border-color: #5c5c5c;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	background-color: #ededed;
	padding: 10px;
	-moz-box-shadow: 0px 5px 15px #000;
	-o-box-shadow: 0px 5px 15px #000;
	-icab-box-shadow: 0px 5px 15px #000;
	-khtml-box-shadow: 0px 5px 15px #000;
	-webkit-box-shadow: 0px 5px 15px #000;
	overflow: hidden;
	margin: 40px;
}

div.sobre {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 160px;
	height: 160px;
	background-image: url(../img/sobre.png);
}

div.gestp {
	position: absolute;
	top: 30px;
	right: 50px;
	width: 80px;
	height: 90px;
	background-image: url(../gestp/img/logom.png);
}


div.logoemsa {
	position: absolute;
	top: 30px;
	right: 50px;
	width: 110px;
	height: 90px;
	background-image: url(../img/logoemsa.png);
}

div.contenedorOfertas {
	background-color: #4c4c4c;
	background-image: url(../img/reflejocontenedorfertas.png);
	background-repeat: repeat-x;;
	min-height: 130px;
	margin: 0 auto;
	-moz-border-radius: 0px 0px 8px 8px;
	-khtml-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-o-border-radius: 0px 0px 8px 8px;
	-icab-border-radius: 0px 0px 8px 8px;
	border-top: 1px solid;
	border-top-color: #292929;
}

div.oferta {
	background-color: #FFF;
	height: 100px;
	max-width: 100px;
	border: 1px solid;
	border-color: #4a4a4a;
	cursor: pointer;
}

table.ofertas {
	margin-left: 20px;
	margin-top: 10px;
	cursor: pointer;
}

table.ofertast {
	margin: 10px;
}

td.oferta {
	width: 104px;
}

td.ofertat {
	width: 108px;
}

div.ofertaTexto {
	font-size: x-small;
	background-color: #dedede;
	border: 1px solid;
	border-top: 0px;
	border-color: #5c5c5c;
	text-shadow: 1px 1px 1px #FFF;
	max-width: 100px;
	max-height: 20px;
	overflow: hidden;
	white-space: nowrap;
}

input[type='text'] {
	border: 1px solid;
	border-color: #b8b8b8;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-icab-border-radius: 4px;
	-moz-border-radius: 4px;
}

input[type='submit'] {
	margin-top: 10px;
	border: 1px solid;
	border-color: #b8b8b8;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-icab-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #b8b8b8;
}