@CHARSET "ISO-8859-1";

*{
	font-family: sans-serif;
	font-size: small;
}
.body{
	width: 100%;	
}
.mainContainer{
	margin:0px auto;
	width: 820px;
}

.addUserFormContainer{
	background-image: url('../img/reflejoMin.png');
	background-repeat: repeat-x;
	position: fixed;
	float:left;
	width: 280px;
	top: 70px;	
	background-color: #d9e2ff;
	border: 1px solid;
	border-color: #000;
	text-shadow: -1px 1px 0px #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 10px;
	z-index: 2;
	-moz-box-shadow: 6px 6px 8px #ababab;
	-webkit-box-shadow: 6px 6px 8px #ababab;
}

input {
	text-shadow: 1px 1px 1px #ababab;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid;
	border-color: #000;
	margin:3px;
}

.userListContainer{
	position: relative;
	background-image: url('../img/reflejoMin.png');
	background-repeat: repeat-x;
	float:right;
	top: 50px;
	width: 470px;	
	margin-top: 10px;
	background-color: #d9e2ff;
	border: 1px solid;
	border-color: #000;
	text-shadow: -1px 1px 0px #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 10px;
	z-index: 1;
	-moz-box-shadow: 6px 6px 8px #ababab;
	-webkit-box-shadow: 6px 6px 8px #ababab;
}

.userListContainer table{
	border: 0;
	width: 100%;	
	text-align: left;
}

img[onclick]{
	cursor: pointer;	
}

.loginContainer{
	background-image: url('../img/reflejoMin.png');
	background-repeat: repeat-x;
	position: relative;
	top: 50px;
	width: 300px;	
	background-color: #d9e2ff;
	border: 1px solid;
	border-color: #000;
	text-shadow: -1px 1px 0px #FFF;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 10px;
	z-index: 1;
	box-shadow: 6px 6px 8px #ababab;
	-webkit-box-shadow: 6px 6px 8px #ababab;
	-moz-box-shadow: 6px 6px 8px #ababab;
	margin: 0px auto;
}

.loginContainer table{
	border: 0px;
	width: 100%;
}

.inputCorrect{
	font-size: small;
	background-color: #bef39e;	
}

.inputError{
	font-size: small;
	background-color: #f39e9e;
}

.botonForm{
	float:right;	
}

.headerMain{
	background-image: url('../img/reflejoMin.png');
	background-repeat: repeat-x;
	width: 100%;
	height: 50px;
	position: fixed;
 	top: 0px;
 	left: 0px;
	background-color: #4e6bc9;
	border-bottom: 1px solid;
	border-color: #000;	
	-webkit-box-shadow: 0px 6px 8px #ababab;
	-moz-box-shadow: 0px 6px 8px #ababab;
}
.cierreSesion{
	float:right;
	cursor: pointer;	
	padding:10px;
}
.tituloHeader{
	float:left;
	padding:10px;
	font-size: x-large;
	text-shadow: -1px 1px 0px #FFF;
	color: #000;
}

.searchButton{
	position:absolute;
	cursor: pointer;
	background-image: url('../img/reflejoMin.png');
	background-repeat: repeat-x;
	left: 200px;
	top:135px;
	width: 100px;
	height: 20px;
	border:solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #d9e2ff;
	-webkit-box-shadow: 0px 6px 8px #ababab;
	-moz-box-shadow: 0px 6px 8px #ababab;
	padding-left:8px;
	padding-top:5px;
	text-shadow: -1px 1px 0px #FFF;	
}
.searchButtonOff{
	position:absolute;
	cursor: pointer;
	background-image: url('../img/reflejoMin.png');
	background-repeat: repeat-x;
	left: 200px;
	top:180px;
	width: 100px;
	height: 20px;
	border:solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #d9e2ff;
	-webkit-box-shadow: 0px 6px 8px #ababab;
	-moz-box-shadow: 0px 6px 8px #ababab;
	padding-left:8px;
	padding-top:5px;
	text-shadow: -1px 1px 0px #FFF;	
}
.buscaForm{
	position:absolute;
	top:135px;
	left:430px;
	width:700 px;
	border:solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #d9e2ff;
	-webkit-box-shadow: 0px 6px 8px #ababab;
	-moz-box-shadow: 0px 6px 8px #ababab;
	padding-left:5px;
	text-shadow: -1px 1px 0px #FFF;	
}
.valoresBusc{
	position:relative;
	
}

.tablaRes{
	position:relative;
	
}
.tablaRes table{
	width: 100%;
}

.inTable{
	text-align: center;
	}
	
.searchFiles{
	position:absolute;
	top:135px;
	left:430px;
	width:450 px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;

}
.altaFiles{
	position: relative;
	width:100%;
	border:solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #d9e2ff;
	-webkit-box-shadow: 0px 6px 8px #ababab;
	-moz-box-shadow: 0px 6px 8px #ababab;
	padding-left:5px;
	text-shadow: -1px 1px 0px #FFF;	
	}

.borraFile{
	position: relative;
	top: 25px;
	width:100%;
	border:solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #d9e2ff;
	-webkit-box-shadow: 0px 6px 8px #ababab;
	-moz-box-shadow: 0px 6px 8px #ababab;
	padding-left:5px;
	text-shadow: -1px 1px 0px #FFF;	
}


	